<%= flash[:notice] %>
<%= flash[:alert] %>

<p>
  <strong>Title:</strong>
  <%= @books.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @books.body %>
</p>

<%= link_to "edit", edit_book_path %>
<a class="back" href="/books">Back</a>

  </body>
</html>
